@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:smoke-white;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
}
.animationDuration{
    animation-duration: 10000ms;
}